* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #e8f5e9;
}

.logo {
    display: inline-block;
    padding: 10px 20px;
}

.buscar {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.buscar input {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.botones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

.botones div {
    display: inline-block;
    margin: 0 5px;
}

.botones a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0a5d36;
    color: #e8f5e9;
    border-radius: 20px;
}

.banner {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
}

.titulo-productos {
    text-align: center;
    margin: 30px 0 10px 0;
}

.titulo-productos h1 {
    font-size: 2.5rem;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.section {
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    margin: 0 auto 50px auto;
    max-width: 900px;
    border-radius: 20px;
    background-color: #fff;
}

.section div {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.section div:hover {
    transform: scale(1.10);
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #0a5d36;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}